<!DOCTYPE html>
<html>
<head>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/blog.css" rel="stylesheet">
	<title></title>
</head>
<body>

{% if form.errors%}
<p class="error"> Sorry, error. 
</p>
{%endif%}

<form action="/accounts/auth/" method="post" > {% csrf_token %}

	<label for="username"> Username:</label>
	<input type="text" name="username" value="" id="username">
	<label for="password"> Password:</label>
	<input type="password" name="password" value="" id="password">
	<button type="submit" class="btn btn-primary" value="login"> Login </button> 

</form>

</body>
</html>

