<!DOCTYPE html>
<html>
<head>
    <link href="/static/BlogApp/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/static/BlogApp/css/blog.css" rel="stylesheet">    
   
</head>
<body>

   {% load blog_tags %}
   {%load friend_tag%}
   {%main%}
   

{{friend_list}}
   <hr>
   {{all_blog}}
     <!--<div class="col-sm-8 blog-main">-->
        <!--<div class="list-group-item">-->
            <!--<div class="blog-post">-->
                <!--{% for blogs in all_blogs %}-->
                    <!--{%if blogs.owner.user != request.user%}-->
                <!--<h2 class="blog-post-title">{{blogs.title}} </h2>-->
            <!--<p class="blog-post-meta">{{blogs.publish_date}} by-->
                <!--<a href="/user/{{blogs.owner.slug_name}}/">{{blogs.owner}}</a>-->
            <!--</p>-->
                <!--{{blogs.body|truncatechars:400}}-->
            <!--<p>-->
              <!--<a href="/blog/{{blogs.id}}"> Continue to reading </a>-->
            <!--</p>-->

          <!--<hr>-->
          <!--<hr>-->
                    <!--{%endif%}-->
                <!--{% endfor %}-->
            <!--</div>&lt;!&ndash; /.blog-post &ndash;&gt;-->
        <!--</div>-->
     <!--</div>-->

</body>
</html>